html {
 font-family: var(--ff);
 color: var(--text);
 @include fFS(14px, 20px, 320px, 1900px, 16px);
 height: -webkit-fill-available;
}

body {
 display: flex;
 flex-direction: column;

 /**/
 background: var(--main);
}

.wrapper {
 position: relative;
 min-width: 320px;
 min-height: -webkit-fill-available;
 height: 100%;
 flex-grow: 1;
 overflow: hidden;
}

.footer {
 flex-grow: 0;
}

a {
 display: inline-block;
 vertical-align: middle;
}

p {
 margin-bottom: 0.8em;
 line-height: 1.2;
 &:last-of-type {
  margin-bottom: 0;
 }
}

img {
 display: inline-block;
}

.container {
 max-width: var(--container);
 margin: 0 auto;
 padding: 0 10px;
}

.center {
 text-align: center;
}
