@font-face {
 src: local(""), url("../../fonts/Gilroy-Light.woff") format("woff2"), url("../../fonts/Gilroy-Light.woff") format("woff");
 font-family: "Gilroy";
 font-style: normal;
 font-weight: 200;
 font-display: swap;
}
@font-face {
 src: local(""), url("../../fonts/Gilroy-Regular.woff") format("woff2"), url("../../fonts/Gilroy-Regular.woff") format("woff");
 font-family: "Gilroy";
 font-style: normal;
 font-weight: 400;
 font-display: swap;
}
@font-face {
 src: local(""), url("../../fonts/Gilroy-Bold.woff") format("woff2"), url("../../fonts/Gilroy-Bold.woff") format("woff");
 font-family: "Gilroy";
 font-style: normal;
 font-weight: 600;
 font-display: swap;
}
