.btn {
 padding: 1.1em 1.5em;
 min-width: 210px;
 border-radius: 2em;
 @include fFS(12px, 14px, 320px, 1600px, 14px);
 color: var(--main);
 text-transform: uppercase;
 text-align: center;
 background-color: #fff;
 @include bp(600px) {
  min-width: 180px;
 }
 &:hover {
  background: var(--accent);
  color: #fff;
 }
}

.menu-trigger {
 position: relative;
 display: none;
 align-self: center;
 width: 2.5em;
 height: 2em;
 padding: 0.92em 5px;
 background: #fff;
 background-clip: content-box;
 transition: all 0.5s ease-in-out;
 &:before,
 &:after {
  content: "";
  position: absolute;
  left: 5px;
  right: 5px;
  height: 0.15em;
  background-color: #fff;
  transform-origin: center center;
  transition: all 0.5s ease-in-out;
 }
 &:before {
  top: 0.2em;
 }
 &:after {
  top: calc(100% - 0.4em);
 }
 &.active {
  background-color: transparent;
  &:before {
   top: 45%;
   transform: rotate(45deg);
  }
  &:after {
   top: 45%;
   transform: rotate(-45deg);
  }
 }
 @include bp(760px) {
  display: block;
 }
}

.logo-vertical {
 display: flex;
 width: 96px;
 height: 96px;
 border-radius: 100%;
 background-color: var(--light);
 * {
  display: block;
  width: 75%;
  margin: auto;
 }
}
