.form__row {
 position: relative;
 margin-bottom: 1.5em;
 &:last-of-type {
  margin-bottom: 0;
  text-align: right;
 }
 .btn {
  @include bp(550px) {
   width: 100%;
  }
 }
}

.form__label {
 position: absolute;
 top: -1em;
 left: 0;
 display: flex;
 align-items: flex-end;
 width: 100%;
 padding: 0 1em;
 font-size: 0.8em;
 opacity: 0.5;
 transition: all 0.3s ease-in-out;
}

.form__input {
 display: block;
 padding: 0 1em;
 border-bottom: 1px solid;
 &::placeholder {
  color: transparent;
 }
 &:placeholder-shown + .form__label {
  top: 0;
  height: calc(100% - 1px);
  font-size: 1em;
  opacity: 1;
 }
}
textarea {
 height: 140px;
 overflow: auto;
}
