.footer {
 padding-bottom: 3.5em;
 .container {
  padding: 1.2em 10px;
  border-radius: 1.2em;
  background-color: var(--light);
  @include bp(550px) {
   width: 95%;
  }
 }
}

.footer__logo {
 width: 98px;
 margin: 0 auto 0.8em auto;
}

.footer__content {
 font-size: 10px;
 text-align: center;
}
