.header {
 position: relative;
 padding: min(1.5em, 30px) 0;
 .container {
  align-items: center;
  justify-content: space-between;
 }
 .btn {
  align-self: center;
  @include bp(450px) {
   display: none;
  }
 }
}

.logo {
 flex: 0 1 120px;
}

.nav {
 flex: 1 1 auto;
 @include bp(750px) {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--main);
  transform: translateX(-100%);
  transition: transform 0.3s linear;
  will-change: transform;
  &.active {
   transform: translateX(0);
  }
 }
}

.nav__list {
 width: min(100%, 600px);
 margin: auto;
 @include row(jsb, as);
 @include bp(750px) {
  display: block;
  width: 100%;
  padding: 20px 0;
 }
}

.nav__item {
 flex: 1 1 auto;
 @include fFS(16px, 14px, 320px, 1600px, 16px);
 font-weight: 600;
 &.current {
  a {
   color: var(--accent);
  }
 }
 a {
  display: block;
  padding: 0.5em;
  // text-align: center;
 }
 &:hover {
  a {
   color: var(--accent);
  }
 }
}
