.section__title {
 margin-bottom: 0.6em;
 @include fFS(50px, 100px, 320px, 1600px, 14px);
 font-weight: 600;
 text-transform: uppercase;
 text-align: center;
 line-height: 1;
 &--funsy {
  padding: 1.3em 0 2em 1.1em;
  border-radius: 1.3em 1.3em 1.3em 0;
  margin-bottom: 0;
  text-align: left;
  background-color: var(--light);
  @include bp(450px) {
   padding: 0.5em 0 2em 0.5em;
   border-radius: 0.5em 0.5em 0.5em 0;
  }
 }
}

.section__wrapper {
 position: relative;
 display: flex;
 min-height: 440px;
 margin-bottom: 3em;
 border-radius: 1.2em;
 background-position: center center;
 background-size: cover;
 background-repeat: no-repeat;
 &:before {
  content: "";
  position: absolute;
  top: 1.7em;
  right: 2.1em;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: rgba(28, 80, 224, 0.5);
  @include bp(550px) {
   top: 1em;
   right: 1em;
   width: 98%;
   height: 98%;
  }
 }
}

.section__content {
 width: min(90%, 780px);
 margin: auto;
 z-index: 1;
}

.connect {
 margin-top: 2em;
}

.connect__row {
 display: flex;
 flex-wrap: wrap;
 justify-content: flex-end;
 align-items: flex-end;
 margin: -5.5em 5% 0 0;
 @include bp(780px) {
  margin: -5.5em auto 0 auto;
 }
 @include bp(550px) {
  justify-content: center;
 }
 .logo-vertical {
  align-self: flex-end;
 }
}

.connect__form {
 position: relative;
 width: min(100%, 950px);
 padding: 2.8em 8% 3em 8%;
 margin-right: 1.5em;
 border-radius: 3em 3em 0 3em;
 background-color: var(--accent);
 @include bp(780px) {
  width: calc(100% - 150px);
 }
 @include bp(550px) {
  width: 95%;
  margin-right: 0;
  margin-bottom: 1em;
 }
}

.connect__result {
 @include center();
 @include fFS(40px, 60px, 320px, 1600px, 14px);
 width: min(55%, 500px);
 text-align: center;
 transition: opacity 0.5s linear;
 @include bp(550px) {
  width: 95%;
 }
 &.hidden {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s linear;
 }
}

.form {
 transform: scale(1);
 transition: transform 0.5s linear;
 &--sending {
  transform: scale(0);
 }
}

.form__title {
 margin-bottom: 3em;
 text-transform: uppercase;
 text-align: center;
}

.offer {
 // margin-top: 14vh;
 margin-top: min(55%, 14vh);
}
